block(icon){
  &.mod(symbol logo){
    background-image: svg-load('../svg/logo.svg');
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
