block(wave){
  position: relative;
  width: 100vw;

  &.mod(main){
    block(image){
      width: 115vw;
      position: absolute;
      z-index: -1;
      display: block;

      &.mod(first){
        transform: translateX(150px);
        -webkit-animation: dance-right 12s ease-in-out alternate infinite both;
                animation: dance-right 12s ease-in-out alternate infinite both;
      }


      &.mod(second){
        transform: translateX(-150px);
        -webkit-animation: dance-left 10s ease-in-out alternate infinite both;
                animation: dance-left 10s ease-in-out alternate infinite both;
      }
    }
  }
}

.wave .image svg {
  height: 100%;
  width: 115vw;
}


@keyframes dance-left {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes dance-right {
  0% {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }

  100% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
}
