block(wave){
  &.mod(side){
    height: 120%;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 200px;
    z-index: -1;

    block(image){
      .mod(absolute){
        position: absolute;
        right: 0;
        top: 0;
        width: 250px;
        height: 100vh;
        display: block;

      }
    }
  }
}

.wave .image svg {
  height: 130vh;
}
