block(footer) {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: all 0.5s;
    bottom: 0;
    position: absolute;

    elem(logo){
      max-width: 135px;
    }
}


